attrs~=23.2.0
torch~=2.2.2
gymnasium~=0.28.1
loguru~=0.7.2
lxml~=5.2.2
numpy~=1.26.4
pydantic~=2.7.0
pydantic-settings~=2.2.1
ruff~=0.4.2
pre-commit~=3.7.0
mypy~=1.10.0
pywin32==306; platform_system == "Windows"
types-pywin32==306; platform_system == "Windows"
ray[rllib]~=2.10.0
pytest~=8.2.2
coverage~=7.6.4